.center{
        text-align: center; 
        align-items: center;
        margin: 0 auto;
        justify-content: center;
}

.tasto{    
    margin-top: 1rem;
    width: 24.6%;
}

.res{
    margin-top: 1rem;
    width: 100%;
}